@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles </h1>
@if (Model.Any())
{
    <table class="table-bordered table-striped ">
        <thead>
            <tr>
            <th class="">Role Id</th>
            <th >Role Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="EditRole" asp-controller="Admin"
                           asp-route-id="@role.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Roles Created
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button to create a role
            </h5>
            <a class="btn btn-primary" style="width: auto"
               asp-controller="Admin" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}