@model List<DaGrasso.Pizza>
<div>
    <h2 class="text-center">All Pizzas that we currently have </h2>
</div>
<div class="row mx-auto position-static px-1"  style="width: 90%;">
    @{
        foreach (var pizza in Model)
        {

            @await Html.PartialAsync("PizzaSummary", pizza)

        }
    }
</div>