@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1>@ViewBag.ErrorMessage</h1>
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<a asp-controller="Home" asp-action="Index"> Main Page </a>