@model DaGrasso.Pizza

<div class="row gx-5 bg-light text-black-50">
    <div class="d-sm-inline-flex ">
        <img src="~/Images/@Model.ImageURL" />
        <div class="p-2 m-auto">
            
            <h4>@Model.Name</h4>
            <p>Price: @Model.Price.ToString("c")</p>
            @foreach (var topping in Model.Toppings)
            {
                <p>@topping.Topping.Name</p>
            }

        </div>
        <div class="addToCart text-right">
            <p class="button">
                <a class="btn btn-success" id="cartButton"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-pizzaId="@Model.PizzaId">
                    Add to cart
                </a>
            </p>
        </div>
    </div>
</div>


