
    <div class="col-sm-5 mx-auto rounded my-1 " style="background-color: #ffe7c2;
    ">
        <img class="float-left" src="~/Images/@Model.ImageURL" style="width: 25%"; />
        <div class="p-2 m-auto float-left">

            <h4>@Model.Name</h4>
            <p>Price: @Model.Price.ToString("c")</p>
            @foreach (var topping in Model.Toppings)
            {
                <p>@topping.Topping.Name</p>
            }

        </div>
        <div class="addToCart text-right p-2 my-5">
            <p class="button">
                <a class="btn btn-success" id="cartButton"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-pizzaId="@Model.PizzaId">
                    Add to cart
                </a>
            </p>
        </div>
    </div>

